@import 'pagination';
@import 'header';
@import 'footer';
@import 'logo';
@import 'index_list';
@import 'posts';

.page-content {
  padding: $spacing-unit 0;
  padding-top: 0px;
  padding-bottom: 0px;
	.wrapper {
    margin-top: 70px;
	}
}

.page-heading {
    font-size: 20px;
}

.post .post-meta-small {
  font-size: 18px;
  margin-top: 33px;
  margin-bottom: 1px;
}

span.username {
  color: $grey-color-dark; 
	margin-bottom: 20px;
  &:hover {
    color: $red;
  }
}

.social-media-list li {
  margin-bottom: 4px;
}


article.post-content {
  font-size: 22px;
  color: $grey-color-dark;
}

.page-content .wrapper {
  margin-top: 70px;
}
